.random-icon-viewer__button {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    padding: 0.3em;
    user-select: none;
}

.button__icon {
    height: 3rem;
}
