

.random-icon-viewer-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: fit-content;
}

.random-icon-viewer__icon{
    height: 12rem;
    color: var(--primary-color);
}
