* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
}

button {
  font-size: 3rem;
  cursor: pointer;
  padding: 0.3em;
}

.icon-svg {
  height: 8rem;
}